@import url("https://fonts.googleapis.com/css?family=Muli:300,400,700,800&display=swap");
.masterContainer {
  align-items: center;
  transition: all 0.4s ease-Out;
  overflow-x: hidden;
  background-repeat: repeat;
  background-attachment: fixed;
  background-image: url("/images/tiledBGwhite.png");
  position: absolute;
  font-family: Muli, Helvetica, Arial, sans-serif;
  text-align: center;
  background-color: aliceblue;

  padding: 0px;
  margin: 0px;
  padding-bottom: 50px;
  bottom: 0%;
  top: 0px;
  right: 0%;
  left: 0%;
}

.contentPanelList {
  overflow-x: hidden;
  background-color: rgb(252, 252, 252);
  position: fixed;
  top: 50px;
  bottom: 50px;
  left: 0;
  right: 0;

  padding: 0px;
  margin: 5px;
  width: calc(100% - 10px);
  /* height: calc(100% - 60px); */
  border-radius: 10px;
  box-shadow: 0px 0px 3px grey;
}
/* WALLET WIDGET */

.settingsPanel {
  overflow-x: hidden;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  transition: all 0.3s ease;
  top: 10%;
  right: 0%;
  left: 0%;
  width: 95%;
  padding-top: 0px;
}
@keyframes logoFade {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* 
FORM FIELDS DARK
*/

/* 
FORM FIELDS LIGHT
*/

/* //  END OF INPUTS  // */

/* BITPOLL */

.walletTabContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 33px;
  margin-left: auto;
  margin-right: auto;
}

.walletTab {
  margin: 0 auto;
  color: white;
  font-size: 14px;
  font-weight: 600;
  height: 100%;
  width: 100%;
  padding-top: 8px;
  padding-bottom: 10px;
  box-shadow: inset 0px 12px 10px -10px rgb(0, 0, 0, 0.5);
}

#walletNew {
  border-top-left-radius: 15px;
  background: linear-gradient(180deg, rgb(203, 230, 85) 0%, rgb(4, 54, 8) 100%);
}

#walletExisting {
  border-top-right-radius: 15px;
  background: linear-gradient(
    180deg,
    rgb(212, 181, 6) 0%,
    rgb(114, 84, 0) 100%
  );
}

.walletWidget {
  overflow-x: hidden;
  background: linear-gradient(
    200deg,
    rgb(21, 110, 3) 0%,
    rgb(255, 208, 0) 100%
  );
  height: auto;
  width: 100%;
  min-height: 200px;
  transition: min-height 0.3s ease-out;

  justify-content: center;
  display: flex;
  flex-direction: column;
  transform-origin: bottom center;
  transition: all 0.3s ease;
  border-radius: 20px;
  -webkit-transition: all 0.7s ease-in-out;
  -moz-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}
.walletWidget h3 {
  padding: 8px;
  font-size: 15px;
  color: rgb(255, 255, 255);
  margin: 10px;
}
.walletPIN {
  border-radius: 20px;
  height: 35px;
  width: 200px;
  font-size: 30px;
  text-align: center;
}
.btnPIN {
  background: linear-gradient(
    180deg,
    rgb(220, 226, 255, 0.5) 20%,
    rgba(255, 211, 117, 0.2) 80%
  );
  font-size: 15px;
  border: 0cm;
  border-radius: 10px;
  width: 160px;
  height: 30px;
  display: table-cell;
  vertical-align: bottom;
  text-align: center;
  padding: 0px;
  margin: 20px;
}
.bsvImageHolder {
  padding-top: 20px;
}
.bsvImageHolder img {
  width: 220px;
}

.splashIntroText {
  color: #dbd692;
  padding: 15px;
  font-style: italic;
  font-size: 18px;
}
.splashIntroTextSmall {
  color: #4c8d52;
  padding-left: 65px;
  padding-right: 65px;
  padding-top: 15px;
  line-height: 20px;
  font-size: 13px;
  font-style: italic;
}
.splashPanel {
  overflow-x: hidden;
  background-image: linear-gradient(to bottom left, rgb(0, 0, 0), transparent),
    linear-gradient(to top left, rgb(17, 85, 8), transparent),
    linear-gradient(to top right, rgb(0, 0, 0), transparent);

  height: 100%;
  width: 100%;
  /* display: block; */
  transition: all 0.3s ease;

  position: absolute;
  font-family: Muli, Helvetica, Arial, sans-serif;
  text-align: center;

  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
}
.enterBtn {
  font-size: 20px;
  width: auto;
  text-decoration: none;
  font-weight: 700;
  margin: 30px;
  font-family: Muli, Helvetica, Arial, sans-serif;
  padding: 19px;

  display: inline-block;
  border-radius: 5px;
  background: linear-gradient(
    200deg,
    rgb(182, 143, 36) 0%,
    rgb(21, 78, 14) 100%
  );

  color: rgb(216, 216, 216);
}
.bsvImgHolderSplash img {
  width: 90px;
}
.bsvImgCaption {
  color: rgb(230, 165, 2);

  font-size: 13px;
}
.logoSplash {
  margin-top: 60px;
}
.logoSplash img {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  animation-duration: 2s;
  animation-name: logoFade;
  transition-timing-function: ease-in-out;
}

body,
html {
  margin: 0px;
  padding: 0px;
  background-repeat: no-repeat;
  background-attachment: fixed;

  background-image: linear-gradient(
      to bottom left,
      rgb(251, 255, 0),
      transparent
    ),
    linear-gradient(to top left, rgb(27, 161, 9), transparent),
    linear-gradient(to top right, rgb(0, 0, 0), transparent);
  padding: 0px;
  overflow-x: hidden;
  overflow-y: hidden;
}
.pollTitle h3 {
  text-align: left;
  padding-left: 15px;
}
.chainLink img {
  width: 20px;
  position: absolute;
  right: 5px;
  margin-top: -25px;
}

.bodyContent {
  text-align: left;
  padding: 15px;
}
.bodyContent h3 {
  margin-top: 0px;
  text-align: center;
  padding: 20px;
  font-size: 17px;
  margin-bottom: 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: white;
  background-image: linear-gradient(
      to bottom left,
      rgb(5, 128, 22),
      transparent
    ),
    linear-gradient(to top left, rgb(255, 217, 0), transparent),
    linear-gradient(to top right, rgb(0, 0, 0), transparent);
}

.bodyContent h2 {
  font-size: 20px;
  color: darkgreen;
  margin-bottom: 10px;
}
.bodyContent p {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 15px;
}
@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

@import url("https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:900&display=swap");

/* //// Hashtag input
*/

/* /////
*/
/* COMMENTS */

/* ///   BITPOLL */

.pollTitle {
  font-size: 15px;
  color: black;
  font-weight: 700;
  padding-top: 10px;
  padding-bottom: 10px;
  background-image: linear-gradient(
    180deg,
    rgba(16, 114, 3, 0.75),
    rgba(214, 184, 12, 0.65)
  );
  margin-top: 20px;
  margin-bottom: 10px;

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.pollHolder {
}

.pollButton {
  background-repeat: no-repeat;
  background-image: url("/images/radio_off.png");
  position: absolute;
  margin-left: -55px;
  margin-top: -7px;
  background-size: 35px;
  width: 35px;
  height: 35px;
}

.totalVotes {
  font-family: "Alegreya Sans SC", sans-serif;
  font-size: 30px;
  margin-top: -10px;
  color: darkgreen;
}
.pollTestHolder {
  display: flex;
  margin-left: 50px;
  margin-right: 10px;
  flex-direction: row;
  justify-content: space-between;
  background-image: linear-gradient(
    180deg,
    rgba(200, 219, 200, 0.55),
    rgba(255, 230, 92, 0)
  );
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding: 10px;
}

.optionRowHolder {
  height: 40px;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css?family=Muli:300,400,700,800&display=swap");

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  z-index: 99;
  display: flex;
  flex-direction: row;
  padding: 0px;
  margin: 0px;
  align-items: center;
  font-family: "Muli", sans-serif;
}
#navGeneric {
  background-image: url("/images/navBG.png");
  background-repeat: repeat;
  background-size: 330px;
  background-color: linear-gradient(
    200deg,
    rgb(4, 114, 19) 0%,
    rgb(180, 139, 4) 100%
  );
  position: relative;
}
.sideNavHeader {
  height: 51px;
  background-image: url("/images/navBG.png");
  background-repeat: repeat;
  background-size: 330px;

  border-bottom: 1px double rgb(255, 255, 255, 0.7);
}
.nav-links {
  z-index: 101;
  top: 0px;
  width: 200px;
  position: fixed;
  height: 100%;
  display: flex;
  flex-direction: column;
  right: 0;
  background: linear-gradient(
    317deg,
    rgb(70, 141, 70) 0%,
    rgb(231, 226, 147) 100%
  );
  border-left: 1px double rgb(179, 192, 0);

  box-shadow: 1px 1px 20px 0 rgb(1, 53, 1);
  transform: translate(110%);
  transition: transform 0.4s ease-Out;
}

.sideNav {
  background-repeat: repeat;
  background-attachment: fixed;
  background-image: url("/images/tiledBG.png");
  background-size: 160px;
  height: 100%;
}
.profPic {
  float: left;
  position: absolute;
  margin-top: 3px;
  margin-left: 10px;
  position: fixed;
}
.profPic img {
  width: 70px;
}

.nav-links li {
  list-style: none;
  opacity: 0;
  background: linear-gradient(
    180deg,
    rgb(255, 255, 255, 0.5) 0%,
    rgb(255, 255, 255, 0) 100%
  );
  height: 40px;
  text-align: left;
  padding-left: 35px;
  vertical-align: middle;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.navIcon {
  margin-left: -25px;
  margin-top: 5px;
}
.nav-links a {
  text-decoration: none;
  color: rgb(28, 7, 48);

  font-weight: 700;
  font-size: 14px;
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);

  letter-spacing: 2px;

  text-transform: uppercase;

  margin-left: 7px;
}
.burger {
  z-index: 102;
  display: block;
  margin-left: auto;
  margin-right: 20px;
}
.burger div {
  width: 20px;
  height: 2px;
  background-color: rgb(205, 238, 174);
  margin: 6px;
  border-radius: 50px;

  transition: all 0.3s ease;
}
/* BOTTOM NAV */

.navBottom {
  z-index: 12;
  height: 50px;
  overflow-x: hidden;
  font-family: "Muli", sans-serif;
  background: linear-gradient(
    180deg,
    rgb(226, 226, 226) 0%,
    rgb(200, 183, 201) 100%
  );
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navBottomContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  align-items: center;
}

.composeIcon {
  opacity: 1;
  visibility: visible;
  float: left;
  position: absolute;
  margin-top: 40px;
  margin-left: 10px;
  width: 50px;
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 20;
  margin-right: 10px;
  margin-bottom: 10px;
  transform: translate(00%, 0%);
}
.navBottomIcons img {
  height: 25px;
}
@import url("https://fonts.googleapis.com/css?family=Anonymous+Pro&display=swap");
